/.project
/*/.project
/.settings
/*/.settings
/.classpath
/*/.classpath
/src
/target
/*/target
/mvn-repo
/*/mvn-repo
*release*
*/lib/*
*.class
*.log
*.tmp
*.flv
*.aac
*.mp3
*.mp4
*.mkv
*.webm
*.ts
*.DS_Store