*
!**/*/src/main
!**/*/src/test/java
!**/*/src/test/resources/log4j.properties
!pom.xml
/target
/*/target
/*/*/target
/.settings
/*/.settings
/*/*/.settings
/.classpath
/*/.classpath
/*/*/.classpath
/.DS_Store
/*/.DS_Store
/*/*/.DS_Store
/.project
/*/.project
/*/*/.project
