/.project
/*/.project
/*/*/.project
/.settings
/*/.settings
/*/*/.settings
/.classpath
/*/.classpath
/*/*/.classpath
/src
/target
/*/target
/*/*/target
/mvn-repo
/*/mvn-repo
*release*
*/*/lib/*
*.class
*.DS_Store
